name: markdownlint

on:
  push:
  pull_request:

jobs:
  markdownlint:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Run markdownlint
        uses: DavidAnson/markdownlint-cli2-action@v14.0.0
